.restaraunt{
  display: flex;
  justify-content: center;

  &__container{
    width: 900px;
    margin: 100px auto;
    padding: 40px;
    border: 1px solid rgb(95, 93, 93);
    background-color: #ccc;
    box-sizing: border-box;
    max-width: 100%;

    div{
      margin-bottom: 10px;
    }
  }
  
  h1{
    margin-bottom: 20px;
  }


}
